.ibanking-page-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(3, 0, 28);
}

.normal-panel {
    background-color: rgb(3, 6, 55);
    border-radius: 20px;
}

.upper-div {
    position: absolute;
    box-sizing: border-box;
    left: 20%;
    top: 8%;
    width: 65vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.left-menu {
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 20%;
    box-sizing: border-box;
    overflow: auto;
    width: 15vw;
    height: 60vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.left-menu::-webkit-scrollbar {
    display: none;
}

.right-menu {
    position: absolute;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    right: 15%;
    width: 49vw;
    height: 60vh;
    gap: 0px;
}

h3 {
    padding: 20px 30px;
    margin-top: -30px;
    color: white;
}

.left-menu-button {
    top: 3%;
    background-color: transparent;
    position: relative;
    padding: 5% 5%;
    width: 90%;
    left: 5%;
    border: 0px;
    color: white;
    font-size: 1.5vw;
    border-bottom: 3px solid rgb(3, 0, 28);
    cursor: pointer;
}

.left-menu-button:hover {
    background-color: rgb(3, 0, 28);
}

#userButtonGroup {
    position: relative;
    left: 70%;
    top: 35%;
}

#userButton,
#userButtonSplit,
#userButtonGroup {
    background-color: transparent;
    border: none;
    position: relative;
    font-size: 1.5vh;
}

.account-details {
    grid-row: 2 / span 2;
    grid-column: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(3, 0, 28);
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: 18vw;
    height: 30vh;
    padding: 20px;
}

#account-sold-button,
#account-username-button,
#account-iban-button {
    position: relative;
    width: 250px;
    text-transform: none;
    border: none;
    font-size: 1.8vh;
    color: white;
}


.recent-transfers {
    border-radius: 20px;
    background-color: rgb(3, 0, 28);
    grid-row: 2;
    grid-column: 2;
    margin-left: -40px;
    width: 20vw;
    height: 20vh;
    padding: 20px;
}

.future-payments {
    border-radius: 20px;
    background-color: rgb(3, 0, 28);
    grid-row: 3;
    grid-column: 2;
    margin-left: -40px;
    width: 20vw;
    height: 20vh;
    padding: 20px;
}

.my-account-title {
    padding: 20px 30px;
    color: white;
}

.my-account-titles {
    grid-column: 1 / span 2;
}

table {
    width: 20vw;
    height: 10vh;
    overflow: hidden;
    margin: 0px;
}

th,
td {
    border: none;
    text-align: left;
    background-color: transparent;
    padding: 0px;
}

.icon-cell {
    padding: 0px 0px;
    width: 50px;
}

.data-cell {
    padding: 0px;
}